p{
font-family: Arial;
font-style: normal;
font-size: medium;
padding-top: 90px;
border: 0px solid white;
background-color:whitesmoke;

}
div{
    background-color: azure;
}
button{
    color: white;
    background-color: green;
}
img{
    position:absolute;
    left: 0px;
    right: 0px;
    z-index: -1;
    float:left

}
